---
layout: page
title: Downloads
---

<div class="breadcrumbs">
  <a href="{{ site.home }}">home</a>&nbsp;&gt;&nbsp;<span>downloads</span>
</div>

<p>Here you can find and download the individual attachments, documents, and assets from the website:</p>

{% assign static_files = site.static_files | sort: "path" %}

{% assign profile_files = static_files | where_exp: "file", "file.path contains '/downloads/profile/'" %}
{% assign english_blog_files = static_files | where_exp: "file", "file.path contains '/downloads/english/blog/'" %}
{% assign tamil_blog_files = static_files | where_exp: "file", "file.path contains '/downloads/tamil/blog/'" %}
{% assign tamil_podcast_files = static_files | where_exp: "file", "file.path contains '/downloads/tamil/podcast/'" %}

<h3>Profile</h3>
<ul>
  {% for file in profile_files %}
    <li>
      <a href="{{ file.path | relative_url }}" target="_blank">{{ file.name }}</a>
    </li>
  {% endfor %}
</ul>

<h3>English Blog</h3>
<ul>
  {% for file in english_blog_files %}
    <li>
      <a href="{{ file.path | relative_url }}" target="_blank">{{ file.name }}</a>
    </li>
  {% endfor %}
</ul>

<h3>Tamil Blog</h3>
<ul>
  {% for file in tamil_blog_files %}
    <li>
      <a href="{{ file.path | relative_url }}" target="_blank">{{ file.name }}</a>
    </li>
  {% endfor %}
</ul>

<h3>Tamil Podcast</h3>
<ul>
  {% for file in tamil_podcast_files %}
    <li>
      <a href="{{ file.path | relative_url }}" target="_blank">{{ file.name }}</a>
    </li>
  {% endfor %}
</ul>
