<p>Thanks for reading my blog post! I hope it made you think. If you have a question, comment, or feedback, feel free to reach out to me via <a href="mailto:{{ site.email }}">email</a>. I personally read all emails and respond to those that require a conversation.</p>

<p>Stay updated with the latest posts by subscribing to our <a href="{{ site.english.blog.url }}/feed.xml">RSS feed</a> or joining our <a href="{{ site.english.blog.newsletter }}">Newsletter</a>.</p>

<p>I’ve spent countless hours lost in books. <a href="{{ site.english.blog.url }}/books">These</a> are a few that left a mark.</p>
