---
layout: tamil/default
---

<div>
  <h2>{{ page.title }}</h2>
  {{ page.date | date_to_string }}
  <br/><br/>
  <a href="{{ site.url }}">முகப்பு</a>&nbsp;&gt;&nbsp;<a href="{{ site.tamil.url }}">வலைப்பதிவுகள்</a>
  {% if page.cover-image %}
    <br/><br/>
    <div>
      <img src="{{site.tamil.img-path}}/{{ page.cover-image }}" alt="{{ page.title }}"/>
      <div style="text-align: center;"><small>{{ page.cover-image-credit }}</small></div>
    </div>
  {% endif %}
  {{ content }}
  <a href="{{ site.url }}">முகப்பு</a>&nbsp;&gt;&nbsp;<a href="{{ site.tamil.url }}">வலைப்பதிவுகள்</a>
</div>
<br/>
<hr/>
<div>
  <br/>
  {% include tamil/subscribe.html %}
  <br/>
</div>
<br/>
