Thanks for reading my blog post! I hope it made you think. If you have a question, comment, or feedback, feel free to reach out to me via <a href="mailto:{{ site.english.email }}">email</a>. I personally read all emails and respond to those that require a conversation.
<br/><br/>
Stay updated with the latest posts by subscribing to our <a href="{{ site.english.url }}/feed.xml">RSS feed</a> or joining our <a href="{{ site.english.newsletter }}">Newsletter</a>.
<br/><br/>
I read a lot of books. Here are some of my <a href="{{ site.english.url }}/books">recommendations</a>.
