<p>Thank you for listening. If this episode sparked a thought, raised a question, or inspired a different perspective, I hope you'll join me for future episodes.</p>
<ul>
    <li>
        <a href="mailto:{{ site.english.podcast.email }}">Reply via email</a>
    </li>
    <li>
        <a href="{{ site.linkedin }}" target="_blank" rel="noopener noreferrer">Message me on LinkedIn</a>
    </li>
    <li>
        <a href="{{ site.english.podcast.url }}/feed.xml" target="_blank" rel="noopener noreferrer">Subscribe via RSS</a>
    </li>
</ul>
