<!doctype html>
<html itemscope itemtype="https://schema.org/Blog" lang="en-US">
    <head>
        {% include metadata.html %}
        {% include rss.html lang=page.lang type=page.type %}
    </head>
    <body>
        {% if page.lang and page.type %}
        <div class="text-center">
            <h3>{{ site[page.lang][page.type].title }}</h3>
            <p><small>{{ site[page.lang][page.type].author }}</small></p>
        </div>
        <hr />
        {% endif %}
        {{ content }}
        <hr />
        <div class="text-center">
            {% include footer.html %}
        </div>
    </body>
</html>
