---
layout: default
---

<div>
  <h1>{{ page.title }}</h1>
  <div class="post-date">{{ page.date | date_to_string }}</div>
  {% include breadcrumbs.html %}

  {% if page.video-id %}
    <br/><br/>
    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/{{ page.video-id }}"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  {% endif %}

  {% if page.cover-image %}
    <br/><br/>
    <div>
      <img src="{{site[page.lang][page.type].downloads}}/{{ page.cover-image }}"
          alt="{{ page.title }}"
          class="{{ page.cover-image-orientation }}"/>
      <div class="cover-image-credit"><small>{{ page.cover-image-credit }}</small></div>
    </div>
  {% endif %}

  {% if page.audio-file %}
    <br/>
    <div class="audio-player">
      <audio controls preload="none">
        <source src="{{ site[page.lang][page.type].gcs_bucket }}/{{ page.audio-file }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
  {% endif %}

  {{ content }}

  {% include breadcrumbs.html %}
</div>

<hr/>
<div>
  {% capture footer_file %}subscription/{{ page.lang }}_{{ page.type }}.html{% endcapture %}
  {% include {{ footer_file }} %}
</div>
